.header {
  display: grid;
  grid-template-columns: 454px 148px 450px;
  align-items: center;
  margin: 102px 6px 86px 42px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 33px;
  padding: 44px 36px 39px 26.52px;
  font-size: 18px;
  text-transform: lowercase;
  list-style: circle;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__logo-image {
  padding: 1.16px 9.86px 0.81px 9.03px;
}

.header__address {
  padding-top: 5px;
  padding-left: 184px;
  line-height: 24.3px;
}

.address {
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
  width: 100%;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding-top: 20px;
  padding-left: 286px;
  line-height: 100%;
}

.aligned-text_right {
  padding-top: 20px;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 135px;
  padding-right: 50px;
  padding-bottom: 51px;
  padding-left: 78px;
  color: white;
  font-size: 22px;
}

.cover__description-text {
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border-style: solid;
  border-color: currentColor;
  padding: 12px 32px 11px 31px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-bottom: 146px;
  padding-top: 179px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
  min-height: 100%;
  padding-bottom: 30px;
  padding-left: 24px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  min-height: 100%;
}

.lots__card-list-item {
  position: relative;
  color: white;
}

.card__title {
  z-index: 1;
  padding-top: 51px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 64px;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-left: 24px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  justify-self: start;
  margin-left: 22px;
  padding-top: 98px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  row-gap: 24px;
  width: 693px;
  margin-left: 359px;
  padding-top: 8px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-right: 39px;
  margin-bottom: 88px;
  margin-left: 50px;
  font-size: 18px;
}

.footer__menu-list {
  justify-self: center;
  align-self: center;
  padding-left: 30px;
  text-align: center;
  text-transform: lowercase;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
